@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: rgb(0, 0, 0);
  --fg: #fff;
  --card-1: #35ff50;
  --card-2: #f12a2a;
  --card-3: #293df0;
}

/* GSAP pin-spacer overflow fix */
.pin-spacer,
.pin-spacer > .sticky {
  overflow: visible !important;
}
